@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans";
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
